:root {
    --primary-color: #CB6328;   
    --secondary-color: #FF1F4F; 
    --accent-color: #18164E; 
}

.points-table {
    width: 80%;
    border-collapse: collapse;
    margin: 0 auto;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

th {
    background-color: var(--primary-color);
    color: white;
}

.buy-button {
    background-color: var(--secondary-color);
    color: white;
    border: none;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.buy-button:hover {
    background-color: var(--accent-color);
}
